@model Real_State.Models.AgentProfile
@{
    ViewBag.Title = "Details";
    
}
<h2>Details</h2>

<div>
    <dl>
        <dd>
            <img src="~/Images_Agent/@Model.ImageName" height="200px" width="200px"/>
            <br/>
        </dd>
        
        <dd>Name: @Model.Name </dd>
        <dd>Phone:@Model.PhoneNo</dd>
        <dd>Email:@Model.Email</dd>
    </dl>
</div>




